
    <!--While creating this partial, you should also change all instances of @project to be project
Why have we done this variable renaming? Because to be reusable, partial views shouldn’t rely on
instance variables - they should be totally self-sufficient. When we render the partial from our main
view, we can pass in the data that the partial needs to render - in this case, we’ll pass in the @project
variable, which means it will be accessible as a local variable from within the partial-->
<%= form_for(project) do |f| %>
    <% if project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(project.errors.count, "error")%>
            prohibited this project from being saved:</h2>

          <ul>
            <% project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </p>

    <%= f.submit %>
<% end %>